$avatar-width: 60px;
$max-width: 100%;

.discussion {
  list-style: none;
  background: #e5e5e5;
  margin: 0;
  padding: 0; // finality
  max-width: $max-width;
  min-height: 100%;
  li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
  }
  .avatar {
    width: $avatar-width;
    min-width: 60px;
    position: relative;
    img {
      display: block; // triangle position
      width: 100%;
    }
  }
}

.other {
  .avatar {
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border: 5px solid white;
      border-left-color: transparent;
      border-bottom-color: transparent;
    }
  }
  .messages {
    flex: 1;
  }
}

.self {
  justify-content: flex-end;
  align-items: flex-end;
  .messages {
    order: 1;
    border-bottom-right-radius: 0; // weird shadow fix
    min-width: 150px;
    /*margin-left: $avatar-width;
    margin-right: 0;*/
  }
  .avatar {
    order: 2;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      border: 5px solid white;
      border-right-color: transparent;
      border-top-color: transparent;
      box-shadow: 1px 1px 2px rgba(black, 0.2); // not quite perfect but close
    }
  }
}

.messages {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(black, 0.2);
  word-wrap: break-word;
  /*margin-right: $avatar-width;*/
  p {
    font-size: 0.8rem;
    margin: 0 0 0.2rem 0;
  }
  time {
    font-size: 0.7rem;
    color: #ccc;
  }
}

.chat-layout {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  .top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100px;
    overflow-y: auto;
  }
  .bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    max-width: $max-width;
  }
}

textarea.chat {
  width: 100%;
  min-height: 60px;
  border: solid rgba(0, 0, 0, 0.2);
  border-width: 0 0 1px 0;
  margin-bottom: 0;
  max-width: 100%;
  margin-right: 15px;
  @media screen and (max-width: 600px) {
    min-height: 54px;
    margin: 0;
    & + button {
      width: 100%;
      margin: 3px 0 0 0;
    }
  }
}
