<md-button data-ng-click="dropFiles()" class="menu-item menu-title md-menu-item">Ordner leeren
</md-button>
<md-button data-ng-click="deleteFolder()" class="menu-item menu-title md-menu-item" data-ng-if="$$folder.name != '$$root'">Ordner löschen
</md-button>
<md-button data-ng-click="newFolder()" class="menu-item menu-title md-menu-item">Ordner erstellen
</md-button>
<md-toolbar>
  <h1 class="md-toolbar-tools">Ansicht</h1>
</md-toolbar>
<md-button data-ng-click="setViewMode('pictures')" class="menu-item menu-title md-menu-item">Bilder ({{images.length || 0}})
</md-button>
